<div>
    <h2>List of Tasks
        <button class="btn btn-secondary" style="background-color: green;" (click)="toggleAdd()" *ngIf="!add">
            Add
        </button>
        <button class="btn btn-secondary" style="background-color: red;" (click)="toggleAdd()" *ngIf="add">
            Close
        </button>
        </h2>
    <form (ngSubmit)="onSubmit($event); taskForm.resetForm()" *ngIf="add" #taskForm="ngForm">
        <div class="form-group">
            <label for="taskName">Task name</label>
            <input required type="text" class="form-control" placeholder="Enter Task Name" [(ngModel)]="task" name="task" id="task" #ng="ngModel">
            <div class="alert alert-danger" *ngIf="ng.touched && !ng.valid">Field Task Name Required</div>
        </div>
        <div class="form-group">
            <label for="taskDate">Task Date</label>
            <input id="taskDate" type="date" class="form-control" placeholder="Enter Task Date" [(ngModel)]="date" name="date" id="date">
        </div>
        <div class="form-group">
            <label for="taskDesc">Task Description</label>
            <textarea id="taskDesc" type="text" class="form-control" placeholder="Enter Task Description" [(ngModel)]="desc" name="desc" id="desc"></textarea>
        </div>
        <button class="btn btn-primary" type="submit" (click)="onClick()" [disabled]="!ng.valid">Submit</button>
    </form>
    <ul class="list-group">
        <li class="list-group" *ngFor="let i of tasks">
            <div class="div task">
                <h4>{{i.task}}
                    <fa-icon
                    [icon]="faPenToSquare"
                    (click)="onEdit(i)"
                    class="fa-icon edit">
                    </fa-icon>
                    <fa-icon 
                    [icon]="faTrashCan" 
                    (click)="onDelete(i)">
                    </fa-icon>
                </h4>
                <h6>{{i.date}}</h6>
                <p>{{i.desc}}
                    
                </p>
            </div>
        </li>
    </ul>
</div>
