/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

body { padding: 20px}

input {padding: 5px; margin-top: 10px; margin-bottom: 10px;}
h5 {margin-top: 10px;}